.home-wrapper {
	position: relative
}

.home-wrapper .home-main {
	margin-right: 275px;
	min-height: 800px
}

.home-wrapper .home-main .guess {
	height: 50px;
	line-height: 50px;
	padding-left: 20px;
	font-size: 18px;
	color: #33a2f7;
	background: #fff;
	margin-bottom: 10px
}

.home-wrapper .home-main .my-list {
	padding: 20px 150px 20px 35px;
	background: #fff;
	margin-bottom: 10px;
	font-size: 14px;
	position: relative;
	display: table;
	width: 100%;
	cursor: pointer
}

.home-wrapper .home-main .my-list .bill-box p {
	float: left;
	height: 30px;
	line-height: 30px
}

.home-wrapper .home-main .my-list .bill-box .copy {
	float: left;
	display: block;
	font-size: 12px;
	height: 30px;
	line-height: 30px;
	padding: 0 10px 0 30px;
	border-radius: 5px;
	border: 1px solid #e0e4e9;
	margin-left: 10px;
	background: url(../gimg/copy-btn.png) no-repeat 10px;
	background-size: 15px;
	cursor: pointer
}

.home-wrapper .home-main .my-list .bill-box:after {
	content: "";
	display: block;
	clear: both
}

.home-wrapper .home-main .my-list .type {
	display: block;
	width: 60px;
	height: 26px;
	line-height: 26px;
	background: #f7be75;
	border-radius: 5px;
	color: #fff;
	text-align: center;
	margin-bottom: 10px
}

.home-wrapper .home-main .my-list .from-to {
	line-height: 25px;
	margin-bottom: 5px
}

.home-wrapper .home-main .my-list .from-to span {
	display: block;
	float: left
}

.home-wrapper .home-main .my-list .from-to .arrow {
	display: inline-block;
	height: 25px;
	width: 90px;
	background: url(../gimg/arrow.png) no-repeat 50%;
	background-size: 82px
}

.home-wrapper .home-main .my-list .from-to:after {
	content: "";
	display: block;
	clear: both
}

.home-wrapper .home-main .my-list .item {
	font-size: 14px;
	line-height: 25px;
	color: #545454;
	margin-bottom: 5px
}

.home-wrapper .home-main .my-list .newest {
	width: 500px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis
}

.home-wrapper .home-main .my-list .side-btn {
	width: 150px;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center
}

.home-wrapper .home-main .my-list .side-btn .cont .status {
	font-size: 16px;
	text-align: center;
	margin-bottom: 10px
}

.home-wrapper .home-main .my-list .side-btn .cont .sending {
	color: #50d47f
}

.home-wrapper .home-main .my-list .side-btn .cont .o {
	font-size: 14px;
	margin-bottom: 5px;
	padding: 0 20px;
	height: 32px;
	line-height: 32px;
	border-radius: 16px;
	border: 1px solid #e0e4e9;
	color: #545454;
	cursor: pointer;
	text-align: center
}

.home-wrapper .home-main .my-r-d .el-dialog__body {
	padding: 10px 20px;
	border-top: 1px solid #e0e4e9
}

.home-wrapper .home-main .my-r-d .order-box .st .status {
	padding: 0 20px
}

.home-wrapper .home-main .my-r-d .order-box .p-center {
	margin-top: 10px;
	background: url(/static/images/home/arrow_1.png) 50% no-repeat
}

.home-wrapper .home-main .my-r-d .order-box .p-center em {
	display: block;
	width: 21px;
	height: 34px;
	text-align: center;
	line-height: 26px;
	color: #fff;
	right: 15px;
	position: absolute;
	top: 0;
	font-style: normal
}

.home-wrapper .home-main .my-r-d .order-box .p-center p {
	margin-left: 30px;
	margin-top: 8px;
	font-size: 14px;
	color: #8b8b9f
}

.home-wrapper .home-main .my-r-d .order-box .p-center .title_name {
	font-size: 16px;
	margin-top: 28px;
	margin-left: 30px;
	color: #282828
}

.home-wrapper .home-main .my-r-d .order-box .p-center .title_name span {
	padding-right: 10px
}

.home-wrapper .home-main .my-r-d .order-box .p-center:after {
	content: "";
	display: block;
	clear: both
}

.home-wrapper .home-main .my-r-d .order-box .p-center .p-send-box {
	width: 268px;
	min-height: 120px;
	background: #f3f3f8;
	float: left;
	border-radius: 9px;
	position: relative
}

.home-wrapper .home-main .my-r-d .order-box .p-center .p-send-box em {
	background: url(/static/images/home/sendBg.png) no-repeat;
	background-size: 100% 100%
}

.home-wrapper .home-main .my-r-d .order-box .p-center .p-rec-box {
	width: 268px;
	min-height: 120px;
	background: #f3f3f8;
	float: right;
	border-radius: 9px;
	position: relative
}

.home-wrapper .home-main .my-r-d .order-box .p-center .p-rec-box em {
	background: url(/static/images/home/receiveBg.png) no-repeat;
	background-size: 100% 100%
}

.home-wrapper .home-main .my-r-d .order-box .other p {
	margin-top: 20px
}

.home-wrapper .home-main .check-all {
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: #fff;
	font-size: 14px;
	margin-bottom: 10px;
	cursor: pointer
}

.home-wrapper .home-main .contact-express-pop .el-dialog__body {
	padding: 10px 20px
}

.home-wrapper .home-main .contact-express-pop .title-tab {
	text-align: center
}

.home-wrapper .home-main .contact-express-pop .title-tab span {
	display: inline-block;
	width: 60px;
	height: 60px;
	margin: 0 20px;
	cursor: pointer
}

.home-wrapper .home-main .contact-express-pop .title-tab .phone {
	background: url(/static/images/home/tele-un.png) no-repeat;
	background-size: 60px
}

.home-wrapper .home-main .contact-express-pop .title-tab .phone.active {
	background: url(/static/images/home/phone-active.png) no-repeat;
	background-size: 60px
}

.home-wrapper .home-main .contact-express-pop .title-tab .msg {
	background: url(/static/images/home/msg-un.png) no-repeat;
	background-size: 60px
}

.home-wrapper .home-main .contact-express-pop .title-tab .msg.active {
	background: url(/static/images/home/msg-on.png) no-repeat;
	background-size: 60px
}

.home-wrapper .home-main .contact-express-pop .c-center {
	width: 200px;
	margin: 0 auto;
	text-align: center
}

.home-wrapper .home-main .contact-express-pop .c-center p {
	margin: 10px 0
}

.home-wrapper .no-data {
	margin-bottom: 10px;
	text-align: center;
	height: 600px;
	line-height: 900px;
	background: #fff url(../gimg/no_recond.jpg) no-repeat 50%;
	background-size: 260px
}

.home-wrapper .home-aside {
	width: 265px;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	text-align: center;
	font-size: 14px
}

.home-wrapper .home-aside .code-cont,
.home-wrapper .home-aside .handle-btn {
	padding: 15px 25px;
	color: #545454;
	background: #fff
}

.home-wrapper .home-aside .handle-btn .check-cont .textarea-box {
	text-align: left;
	height: 150px;
	overflow-y: auto;
	border-radius: 5px;
	border: 1px solid #e5e5e5;
	padding: 10px;
	margin-top: 10px
}

.home-wrapper .home-aside .handle-btn .check-cont .textarea-box .ex_item {
	display: inline-block;
	line-height: 22px;
	padding: 0 26px 0 6px;
	border-radius: 11px;
	background: #eaeff8;
	position: relative;
	font-size: 14px;
	margin-right: 4px;
	vertical-align: top;
	margin-bottom: 4px
}

.home-wrapper .home-aside .handle-btn .check-cont .textarea-box i {
	display: block;
	width: 13px;
	height: 13px;
	background: url(/static/images/home/delete_icon.png) 50% no-repeat #b8bfcb;
	position: absolute;
	right: 4px;
	top: 4px;
	cursor: pointer;
	border-radius: 7px
}

.home-wrapper .home-aside .handle-btn .check-cont .textarea-box i:hover {
	background: url(/static/images/home/delete_icon.png) 50% no-repeat #33a2f7
}

.home-wrapper .home-aside .handle-btn .check-cont .btn-box {
	margin-top: 10px
}

.home-wrapper .home-aside .handle-btn .check-cont .btn-box .check-btn {
	width: 80px;
	display: block;
	height: 40px;
	line-height: 40px;
	background: #33a2f7;
	color: #fff;
	cursor: pointer;
	float: left
}

.home-wrapper .home-aside .handle-btn .check-cont .btn-box .detail {
	width: 130px;
	font-size: 12px;
	display: block;
	float: right;
	text-align: left;
	padding: 5px 10px;
	background: #e5e5e5;
	color: #626b80
}

.home-wrapper .home-aside .handle-btn .check-cont .btn-box .detail p {
	cursor: pointer
}

.home-wrapper .home-aside .handle-btn .check-cont .btn-box .detail .recent {
	margin-bottom: 5px
}

.home-wrapper .home-aside .handle-btn .check-cont .btn-box:after {
	content: "";
	display: block;
	clear: both
}

.home-wrapper .home-aside .handle-btn .check-cont textarea {
	margin-top: 5px;
	width: 100%;
	height: 120px;
	outline: none;
	resize: none;
	font-size: 12px;
	border: 0;
	font-family: Microsoft YaHei UI;
	line-height: 20px
}

.home-wrapper .home-aside .handle-btn .btn-list {
	text-align: left;
	border-bottom: 1px solid #e0e4e9;
	display: block;
	height: 80px;
	line-height: 80px;
	padding-left: 70px;
	background: url(../gimg/icon_website.png) no-repeat 10px;
	background-size: 40px
}

.home-wrapper .home-aside .handle-btn .btn-list:last-child {
	background: url(../gimg/icon_mail.png) no-repeat 10px;
	background-size: 40px
}

.home-wrapper .home-aside .handle-btn .btn-list.f {
	background: url(../gimg/icon_freight.png) no-repeat 10px;
	background-size: 40px
}

.home-wrapper .personal-show {
	height: 130px;
	background: #fff;
	margin-bottom: 10px
}

.home-wrapper .personal-show .header-pic {
	float: left;
	display: block;
	width: 90px;
	height: 90px;
	border-radius: 50%;
	margin: 20px;
	cursor: pointer
}

.home-wrapper .personal-show .info {
	float: left;
	margin-top: 35px;
	font-size: 14px;
	color: #545454
}

.home-wrapper .personal-show .info p {
	height: 30px;
	line-height: 30px
}

.home-wrapper .personal-show .info .phone {
	background-size: 12px
}

.home-wrapper .personal-show .info .hello {
	font-size: 16px
}

.home-wrapper .urge {
	margin-top: 10px
}

.home-wrapper .urge input {
	background: #f5f5f5
}