.personal-setting-wrapper {
 font-size:14px
}
.personal-setting-wrapper .header {
 border-bottom:1px solid #dee1e5;
 height:50px;
 line-height:50px;
 font-size:18px;
 color:#202027;
 padding-left:50px;
 background:url(../gimg/header-title-icon.png) no-repeat 10px;
 background-size:30px;
 margin-bottom:10px
}
.personal-setting-wrapper .s-box {
 background:#fff;
 padding:50px;
 margin-bottom:20px
}
.personal-setting-wrapper .s-box .aside {
 width:230px;
 float:left;
 padding-right:50px
}
.personal-setting-wrapper .s-box .aside .head-pic {
 display:block;
 width:120px;
 height:120px;
 border-radius:60px;
 margin:50px auto;
 cursor:pointer;
 position:relative;
 overflow:hidden
}
.personal-setting-wrapper .s-box .aside .head-pic img {
 width:120px;
 height:120px;
 border-radius:60px;
 border:none
}
.personal-setting-wrapper .s-box .aside .head-pic img:not([src]),
.personal-setting-wrapper .s-box .aside .head-pic img[src=""] {
 opacity:0
}
.personal-setting-wrapper .s-box .aside .head-pic:hover i {
 display:block
}
.personal-setting-wrapper .s-box .aside .head-pic i {
 font-style:normal;
 display:block;
 width:120px;
 height:120px;
 background:rgba(0,0,0,.3);
 position:absolute;
 bottom:-90px;
 left:0;
 text-align:center;
 color:#fff;
 padding-top:5px;
 font-size:12px;
 cursor:pointer;
 display:none
}
.personal-setting-wrapper .s-box .aside .head-pic input {
 display:block;
 cursor:pointer;
 position:absolute;
 font-size:100px;
 width:120px;
 max-width:120px;
 right:0;
 top:0;
 opacity:0
}
.personal-setting-wrapper .s-box .amain {
 width:70%;
 max-width:450px;
 float:left;
 padding-left:10%;
 border-left:1px solid #dee1e5
}
.personal-setting-wrapper .s-box .amain label {
 text-align:left
}
.personal-setting-wrapper .s-box .amain p {
 height:50px
}
.personal-setting-wrapper .s-box .amain p span {
 font-weight:700;
 color:#666;
 display:inline-block;
 width:80px;
 padding-right:5px
}
.personal-setting-wrapper .s-box .amain button.modify {
 margin-top:10px;
 margin-left:80px
}
.personal-setting-wrapper .s-box:after {
 content:"";
 display:block;
 clear:both
}
.personal-setting-wrapper .cropper-wrapper .vue-cropper {
 height:500px
}
.personal-setting-wrapper .birth {
 width:100%
}
.cropper-content {
 display:-webkit-box;
 display:-ms-flexbox;
 display:flex;
 display:-webkit-flex;
 -webkit-box-pack:end;
 -ms-flex-pack:end;
 justify-content:flex-end;
 -webkit-justify-content:flex-end
}
.cropper-content .cropper {
 width:350px;
 height:300px
}
.cropper-content .show-preview {
 -webkit-box-flex:1;
 -ms-flex:1;
 flex:1;
 -webkit-flex:1;
 display:-webkit-box;
 display:-ms-flexbox;
 display:flex;
 display:-webkit-flex;
 -webkit-box-pack:center;
 -ms-flex-pack:center;
 justify-content:center;
 -webkit-justify-content:center
}
.cropper-content .show-preview .preview {
 overflow:hidden;
 border-radius:50%;
 border:1px solid #ccc;
 background:#ccc;
 margin-left:40px
}
.footer-btn {
 margin-top:30px;
 -webkit-box-pack:end;
 -ms-flex-pack:end;
 justify-content:flex-end;
 -webkit-justify-content:flex-end
}
.footer-btn,
.footer-btn .scope-btn {
 display:-webkit-box;
 display:-ms-flexbox;
 display:flex;
 display:-webkit-flex
}
.footer-btn .scope-btn {
 width:350px;
 -webkit-box-pack:justify;
 -ms-flex-pack:justify;
 justify-content:space-between;
 -webkit-justify-content:space-between
}
.footer-btn .upload-btn {
 -webkit-box-flex:1;
 -ms-flex:1;
 flex:1;
 -webkit-flex:1;
 display:-webkit-box;
 display:-ms-flexbox;
 display:flex;
 display:-webkit-flex;
 -webkit-box-pack:center;
 -ms-flex-pack:center;
 justify-content:center;
 -webkit-justify-content:center
}
.footer-btn .btn {
 outline:none;
 display:inline-block;
 line-height:1;
 white-space:nowrap;
 cursor:pointer;
 -webkit-appearance:none;
 text-align:center;
 -webkit-box-sizing:border-box;
 box-sizing:border-box;
 outline:0;
 margin:0;
 -webkit-transition:.1s;
 transition:.1s;
 font-weight:500;
 padding:8px 15px;
 font-size:12px;
 border-radius:3px;
 color:#fff;
 background-color:#67c23a;
 border-color:#67c23a
}
