.el-table .warning-row {
	background: rgba(247, 137, 137, .1)
}

.clearboth:after {
	display: block;
	clear: both;
	content: "";
	overflow: hidden;
	height: 0
}

.clearboth {
	*zoom: 1
}

.batch-create-container .newYearHint-bg {
	text-align: right
}

.batch-create-container .newYearHint {
	cursor: pointer;
	font-size: 14px;
	padding: 0 20px;
	width: 400px;
	background: #fff1e0;
	line-height: 34px;
	color: #ff8c00
}

.batch-create-container .newYearHint .newYearHint-text {
	float: left
}

.batch-create-container .newYearHint .newYearHint-goto {
	color: #636468;
	float: right
}

.batch-create-container .newYearHint.long {
	max-width: 440px;
	width: 440px;
	float: right
}

.batch-create-container .newYearBanner {
	width: 100%;
	height: 50px;
	background: url(/static/images/create/newYearBg.png) no-repeat;
	background-size: 100% 100%
}

.batch-create-container .newYearBanner .left {
	float: left;
	width: 250px;
	margin-left: 30px;
	line-height: 50px
}

.batch-create-container .newYearBanner .left .newYearBanner-title {
	display: inline-block;
	vertical-align: top;
	font-size: 22px;
	color: #ffc988
}

.batch-create-container .newYearBanner .left .newYearBanner-label {
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
	color: #fff
}

.batch-create-container .newYearBanner .right {
	float: right;
	width: auto;
	font-size: 14px;
	color: #ffc988;
	padding-right: 20px;
	text-align: right;
	margin-right: 30px;
	line-height: 50px;
	background: url(/static/images/create/newYearArrow.png) no-repeat 100%;
	background-size: 6px 12px;
	cursor: pointer
}

.batch-create-container .sendLeftCard {
	height: 358px
}

.batch-create-container .el-card__body {
	padding: 30px 20px 20px
}

.batch-create-container .el-card.is-always-shadow,
.batch-create-container .el-card.is-hover-shadow:focus,
.batch-create-container .el-card.is-hover-shadow:hover {
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 0;
	overflow: initial
}

.batch-create-container .el-input {
	width: 60%
}

.batch-create-container .el-select .el-input {
	width: 100%
}

.batch-create-container .saveAddress {
	width: 60%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between
}

.batch-create-container .saveAddress .el-checkbox {
	color: #999
}

.batch-create-container .saveAddress .analysis {
	color: #409eff;
	cursor: pointer;
	text-decoration: underline
}

.batch-create-container .freight {
	position: relative;
	padding: 0 20px
}

.batch-create-container .freight .freightSearchTitle {
	text-align: center;
	margin: 10px 0 30px
}

.batch-create-container .freight .el-input-group__prepend {
	background: #fff
}

.batch-create-container .freight .el-input-group {
	margin-bottom: 20px
}

.batch-create-container .freight .el-input {
	width: 100%
}

.batch-create-container .freight .weight {
	font-size: 14px;
	margin: 10px 0 20px
}

.batch-create-container .freight .weight span:first-child {
	display: inline-block;
	width: 40%;
	text-align: right;
	margin-right: 10%
}

.batch-create-container .freight .prompt {
	font-size: 14px;
	color: #999;
	margin-bottom: 30px;
	margin-right: 5%
}

.batch-create-container .freight .placeDeparturePrompt {
	font-size: 14px;
	color: #f56c6c;
	margin-bottom: 14px;
	margin-right: 5%
}

.batch-create-container .freight .new-year-hint {
	cursor: pointer;
	text-align: left;
	width: 320px;
	height: 34px;
	padding: 0 10px;
	position: absolute;
	top: 126px;
	left: 134px;
	background: #fff1e0;
	border-radius: 17px;
	line-height: 34px;
	z-index: 2
}

.batch-create-container .freight .new-year-hint .hint-icon {
	display: inline-block;
	width: 14px;
	height: 14px;
	vertical-align: middle;
	margin-right: 5px
}

.batch-create-container .freight .new-year-hint .hint-text {
	display: inline-block;
	font-size: 12px;
	color: #ff8c00;
	vertical-align: middle;
	max-width: 215px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}

.batch-create-container .freight .new-year-hint .hint-to {
	display: block;
	color: #999;
	width: 65px;
	font-size: 12px;
	padding-right: 15px;
	background: url(/static/images/create/newYearArrow1.png) no-repeat 100%;
	background-size: 12px 12px;
	position: absolute;
	right: 10px;
	top: 0
}

.batch-create-container .freight .new-year-hint .hint-arrow {
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid #fff1e0;
	position: absolute;
	top: -8px;
	left: 60px
}

.batch-create-container .freight .new-year-hint .hint-arrow.right {
	top: auto;
	bottom: -8px;
	border-bottom: initial;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 8px solid #fff1e0
}

.batch-create-container .freight .new-year-hint.right {
	top: 114px
}

.batch-create-container .unRealName {
	display: inline-block;
	font-size: 12px;
	padding: 2px 10px;
	color: #fff;
	background: #bbb;
	border-radius: 16px;
	line-height: 20px;
	margin-right: 5px
}

.batch-create-container .alreadyRealName {
	background: #e6a23c
}

.batch-create-container .send {
	position: relative;
	margin-bottom: 8px
}

.batch-create-container .send .realName {
	font-size: 14px;
	color: #999;
	margin-left: 100px;
	margin-bottom: 20px
}

.batch-create-container .send .sendLable {
	width: 27px;
	height: 52px;
	font-size: 18px;
	color: #fff;
	background: url(../images/sendBg-1.png) no-repeat 0 0;
	position: absolute;
	top: 0;
	left: 20px;
	z-index: 99;
	text-align: center;
	line-height: 50px
}

.batch-create-container .page {
	text-align: center
}

.batch-create-container .submit {
	margin-bottom: 30px;
	text-align: center
}

.batch-create-container .submit .el-checkbox__label {
	color: #999
}

.batch-create-container .submit a {
	font-size: 14px;
	margin-left: 5px;
	color: #409eff
}

.batch-create-container .submit p {
	margin-top: 15px
}

.batch-create-container .submit p .el-button--primary {
	font-size: 18px;
	padding: 15px 50px
}

.batch-create-container .navbar {
	line-height: 50px;
	background-color: transparent;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	border-bottom: 1px solid #e0e3e7;
	border-right: none;
	font-size: 22px;
	color: #2c2c33!important;
	margin-bottom: 10px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between
}

.batch-create-container .navbar .navbarLeft span {
	vertical-align: middle
}

.batch-create-container .navbar .navbarLeft .prompt {
	font-size: 14px;
	color: #999
}

.batch-create-container .navbar .navbarLeft .festival {
	font-size: 12px;
	color: #f5222d
}

.batch-create-container .navbar img {
	width: 35px;
	height: 35px;
	margin-right: 5px;
	vertical-align: middle
}

.batch-create-container .navbar .navbarRight .prompt {
	font-size: 14px;
	color: #999
}

.batch-create-container .full_popup .gray {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .4);
	z-index: 99
}

.batch-create-container .full_popup .box {
	padding: 25px;
	position: fixed;
	left: 25%;
	top: 25%;
	border-radius: 10px;
	background: #fff;
	overflow: hidden;
	z-index: 999
}

.batch-create-container .full_popup .box h2 {
	padding: 0 0 10px 35px;
	font-size: 18px;
	line-height: 30px;
	color: #000;
	border-bottom: 1px solid #cdcfd7
}

.batch-create-container .full_popup .box .icon_close {
	display: block;
	width: 51px;
	height: 47px;
	line-height: 47px;
	text-align: center;
	position: absolute;
	right: 10px;
	top: 15px;
	font-size: 18px;
	color: #6b6b6b;
	cursor: pointer
}

.batch-create-container .full_popup .box .icon_close:hover {
	color: #33a2f7
}

.batch-create-container .full_popup .box em.close {
	display: block;
	width: 51px;
	height: 47px;
	position: absolute;
	right: 0;
	top: 0;
	background: url(../images/close-1.png) no-repeat;
	cursor: pointer
}

.batch-create-container .full_popup .box em.close:hover {
	background: url(../images/close_hover.png) no-repeat 0 100%
}

.batch-create-container .full_popup .red-font-color {
	color: red;
	font-weight: 600
}

.batch-create-container .my_address_book .noData {
	text-align: center
}

.batch-create-container .my_address_book .box {
	width: 800px;
	height: 510px
}

.batch-create-container .my_address_book .box h2 {
	background: url(../images/addressBook.png) no-repeat 0 0
}

.batch-create-container .my_address_book .box .serch_box {
	font-size: 0;
	margin: 20px 0 10px
}

.batch-create-container .my_address_book .box .serch_box input {
	width: 290px;
	font-size: 12px;
	padding: 12px 15px;
	border: 1px solid #dcdcdc
}

.batch-create-container .my_address_book .box .serch_box input:focus {
	border-color: #1db6f6;
	outline: none
}

.batch-create-container .my_address_book .box .serch_box .el-button--primary {
	margin-left: 15px
}

.batch-create-container .my_address_book .box ul.address_list {
	height: 306px
}

.batch-create-container .my_address_book .box ul.address_list li {
	height: 50px;
	line-height: 50px;
	padding-left: 15px;
	border-bottom: 1px solid #dcdcdc;
	color: #232323;
	cursor: pointer;
	position: relative
}

.batch-create-container .my_address_book .box ul.address_list li span {
	margin-right: 35px;
	display: block;
	float: left;
	margin-left: -10px
}

.batch-create-container .my_address_book .box ul.address_list li .address_name {
	width: 100px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-left: 10px;
	padding-left: 5px
}

.batch-create-container .my_address_book .box ul.address_list li .address_phone {
	width: 120px;
	margin-left: -10px
}

.batch-create-container .my_address_book .box ul.address_list li .i_detail {
	width: 355px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.batch-create-container .my_address_book .box ul.address_list li .default {
	padding: 3px 10px;
	font-size: 12px;
	background: #f40;
	color: #fff;
	border-radius: .4%
}

.batch-create-container .my_address_book .box ul.address_list li .set_default_address {
	font-size: 14px;
	cursor: pointer;
	color: #008bf6;
	text-decoration: underline;
	display: none
}

.batch-create-container .my_address_book .box ul.address_list li:hover {
	background: #f5f5f5
}

.batch-create-container .my_address_book .box ul.address_list li:hover .set_default_address {
	display: inline-block
}

.batch-create-container .login_tips {
	padding-top: 60px;
	padding-left: 45px;
	height: 306px
}

.batch-create-container .login_tips .login_tips_title {
	font-size: 14px;
	color: #282828;
	padding-bottom: 20px
}

.batch-create-container .login_tips ul li {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	margin-bottom: 18px
}

.batch-create-container .login_tips ul li span {
	color: #a4a1b1;
	padding-left: 8px;
	padding-top: 3px
}

.batch-create-container .login_tips .login_tips_bottom {
	line-height: 40px;
	color: #9999a7
}

.batch-create-container .login_tips .login_tips_bottom .go_login {
	width: 112px;
	height: 40px;
	display: inline-block;
	background: #f0f1f2;
	text-align: center;
	border-radius: 5px;
	font-size: 12px;
	color: #969595
}

.batch-create-container .login_tips .login_tips_bottom .go_register {
	text-decoration: underline;
	color: #1db6f6
}

.batch-create-container .resolution_dialog .box {
	width: 650px;
	height: 430px
}

.batch-create-container .resolution_dialog .box h2 {
	background: url(/static/images/create/znjx.png) no-repeat left 2px;
	background-size: 28px 25px
}

.batch-create-container .resolution_dialog .box .input_textarea {
	width: 581px;
	height: 247px;
	margin: 24px auto;
	background: #f3f3f8;
	border-radius: 10px;
	padding: 15px 20px
}

.batch-create-container .resolution_dialog .box .input_textarea textarea {
	width: 100%;
	height: 217px;
	overflow-y: auto;
	border: none;
	outline: none;
	resize: none;
	font-family: Microsoft YaHei;
	line-height: 22px
}

.batch-create-container .resolution_dialog .box .submit {
	float: right
}

.batch-create-container .collect {
	position: relative;
	margin-bottom: 8px
}

.batch-create-container .collect .collectLable {
	width: 27px;
	height: 52px;
	font-size: 18px;
	color: #fff;
	background: url(../images/receiveBg.png) no-repeat 0 0;
	position: absolute;
	top: 0;
	left: 20px;
	z-index: 99;
	text-align: center;
	line-height: 50px
}

.batch-create-container .collect .el-card__body {
	padding: 30px 60px 20px
}

.batch-create-container .collect .collectTitle {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}

.batch-create-container .collect .uploadHelp {
	cursor: pointer;
	font-size: 14px;
	color: #999;
	padding-left: 26px;
	line-height: 36px;
	background: url(../images/upload-help.png) no-repeat 0
}

.batch-create-container .collect .collectTitleLeft .upload {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}

.batch-create-container .collect .collectTitleLeft .el-upload-list {
	display: inline-block
}

.batch-create-container .collect .collectTitleRight {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}

.batch-create-container .collect .collectTitleRight a {
	margin-right: 10px;
	line-height: 36px;
	color: #1db6f6;
	text-decoration: underline;
	font-size: 12px
}

.batch-create-container .collect .tablePrompt {
	font-size: 14px;
	line-height: 34px;
	color: #999;
	margin: 30px 0 10px
}

.batch-create-container .collect .el-table {
	border: 1px solid #ebeef5;
	border-bottom: none
}

.batch-create-container .collect .el-table,
.batch-create-container .collect .el-table__body-wrapper {
	overflow: initial
}

.batch-create-container .collectName {
	display: inline-block;
	width: 100%;
	height: 28px;
	line-height: 28px;
	vertical-align: middle;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	-icab-text-overflow: ellipsis;
	-khtml-text-overflow: ellipsis;
	-moz-text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis
}

.batch-create-container .collectNameError {
	border: 1px solid #f56c6c
}

.batch-create-container .phone_login .box {
	width: 430px;
	height: 250px;
	margin-left: 15%
}

.batch-create-container .phone_login .box h2 {
	background: url(/static/images/create/phone_login.png) no-repeat
}

.batch-create-container .phone_login .box p {
	font-size: 12px;
	line-height: 40px;
	color: #b5b5b5
}

.batch-create-container .phone_login .box>div {
	font-size: 12px;
	line-height: 55px
}

.batch-create-container .phone_login .box>div label {
	display: block;
	width: 80px;
	float: left
}

.batch-create-container .phone_login .box>div input {
	width: 155px;
	line-height: 30px;
	padding: 5px 15px;
	border: 1px solid #dcdcdc;
	border-radius: 3px
}

.batch-create-container .phone_login .box>div input:focus {
	border-color: #1db6f6;
	outline: none
}

.batch-create-container .phone_login .box>div img {
	height: 40px
}

.batch-create-container .phone_login .box .phone_num input {
	width: 275px
}

.batch-create-container .phone_login .box>a {
	margin-top: 15px;
	line-height: 40px
}

.batch-create-container .phone_login .verify {
	height: 305px
}

.batch-create-container .phone_login .verify img,
.batch-create-container .phone_login .verify input {
	vertical-align: middle
}

.batch-create-container .phone_login .verify img {
	cursor: pointer
}

.batch-create-container .send_agreen {
	font-size: 14px;
	color: #282828
}

.batch-create-container .send_agreen .box {
	width: 700px;
	height: 510px;
	margin: 0 0 0 50px
}

.batch-create-container .send_agreen .box h2 {
	background: url(/static/images/create/send_promise.png) no-repeat
}

.batch-create-container .send_agreen .box .txt {
	height: 400px;
	line-height: 23px;
	margin-top: 20px;
	overflow-y: scroll
}

.batch-create-container .receive-icon,
.batch-create-container .send-icon {
	display: block;
	width: 35px;
	height: 26px;
	background: url(../images/send-iocn.png) no-repeat;
	background-size: 23px 27px;
	position: absolute;
	left: 0;
	right: 0;
	top: 13px
}

.batch-create-container .receive-icon {
	background: url(../images/receive-iocn.png) no-repeat;
	background-size: 23px 27px
}